@font-face {
    font-family: 'MangaB';
    src:url('/fonts/BanglaMN.eot') format('embedded-opentype'), 
    url('/fonts/BanglaMN.woff') format('woff'), 
    url('/fonts/BanglaMN.ttf')  format('truetype'),
    url('/fonts/BanglaMN.svg') format('svg');
}
    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        height: 100%;
        left: 30px;
        right: 30px;
        background-color: #272727;
        background:url('../images/background7.jpg') no-repeat center center;
        background-size: cover;

        z-index: 1004;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }
#empty-space-btm {
     background:url('../images/background5.png') repeat fixed;
      position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 30px;
}
#empty-space {
       top: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    position: fixed;
    text-align: center;
    z-index: 1000 !important;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'MangaB', 'Helvetica', sans-serif;
    background: #272727;
}


body {
     background:url('../images/background5.png') repeat fixed;
     
}

#logo { 
    margin: 70px auto 0;
  width: 40%;
    
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
    animation: swinging 3.5s ease-in-out forwards infinite;

}

#footer-logo{
    margin: 40px auto 0;
    width: 300px;
    height: 300px;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-10deg)}
    100%{-webkit-transform: rotate(10deg);}
}

@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg)}
    100%{transform: rotate(10deg);}
}

#div1 {
    background:url('../images/background1.jpg') no-repeat center center;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6, p ,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #fff;
}
.headertext {
    margin-top: 180px;
}
.headertext2 {
    margin-top:  60px;
}
.footertext {
    margin-top: 95px;
}
.navbar {
	margin-top: 100px;
	color: #ffffff;
	font-size: 25px ;
    
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar1 {
    margin-top: 150px;
}
#background3 {
    background:url('../images/background2.jpg') no-repeat center center;
    background-size: cover;
}
#meni {
    background-color:rgba(76, 69, 70, 0.8);
    background-size: cover;
    overflow: hidden;
    display: table;
     
}
#about{
    background:url('../images/background3.jpg') no-repeat center center;
    background-size: cover;
}
#textabowspoon {
    margin-top: 180px;
}
#spoon {
    margin-top: 100px;
    height: 80px;
    width: 200px;
}
#textbelowspoon {
    margin-top: 100px;
}
#istoknatpis {
    width: 50%;
}
#spoonvertical {
    margin: 90px auto 0;
    height: 200px;
    width: 40px;

}

.navbar a {
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.navbar a:hover {
    font-size: 120%;
    text-decoration: none;
}

.navbar a:active, .menu a:focus, .menu a:hover {
    color: white;
    text-decoration: none;
}
#map {
    height: 400px;
}

#contact {
    background:url('../images/background6.jpg') no-repeat center center;
    background-size: cover;
     background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.full-height{
    height: 800px;
    
}
.full-height-2 {
    height: 1400px;
    
}
.half-height{
    height: 400px;
    
}


#footertext {
    color: white;
    font-size: 25px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}


.social-icons img:hover {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px){
    .mtheader, #logo, #spoonvertical, #footer-logo{
        margin-top: 5px;
    }
}

 @media only screen and (max-device-width:480px){
    .full-height {
        height: 50vh;
    }
   
 #textabowspoon {
    margin-top: 220px;
}

    #footer-logo{
    margin-top: 200px;
        }
        #map {
    height: 500px;
}
#contact {
    height: 600px;
}
    #spoonvertical {
    margin-top: 260px;
    }
    #footertext {
    margin-top: 250px;
    font-size: 30px;
    } 
    }

header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

section, .menu {
    margin-left: 30px;
    margin-right: 30px;
    
}




@media screen and (max-width: 990px) {
    body {
       
    }
}

#empty-space {
       top: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    position: fixed;
    text-align: center;
    z-index: 1000 !important;
}

.full-height { 
    border-top:30px;
}

#empty-space {
     background:url('../images/background5.png') repeat fixed;
      position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 30px;
}
#empty-space-btm {
     background:url('../images/background5.png') repeat fixed;
      position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 30px;
}

.menu {
    height: 800px;
    background: #4C4545;
    opacity: 0.9;
}

.header {
    display: none;
}

#tooltip {
    text-decoration:none;
    position:relative;
}
#tooltip span {
    display:none;
}
#tooltip4:hover span , #tooltip2:hover span  , #tooltip19:hover span ,#tooltip7:hover span , #tooltip20:hover span , #tooltip21:hover span , #tooltip18:hover span , #tooltip15:hover span , #tooltip17:hover span , #tooltip16:hover span, #tooltip13:hover span , #tooltip14:hover span ,  #tooltip12:hover span  , #tooltip10:hover span  ,  #tooltip11:hover span , #tooltip8:hover span , #tooltip9:hover span , #tooltip1:hover span ,  #tooltip3:hover span , #tooltip6:hover span , #tooltip22:hover span , #tooltip23:hover span , #tooltip24:hover span  , #tooltip25:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
      cursor: pointer;
      padding: 0;
      border-style: double;
}


#small-plates {
    margin-top:80px;
    margin-bottom: 50px;
}
#big-plates {
    margin-top:80px;
     margin-bottom: 50px;

}

.description {
    opacity: 0.5;
    font-style: italic;
}

#price {
    text-align: right;
}

#tooltip1 {
    text-decoration:none;
    position:relative;
}
#tooltip1 span {
    display:none;
}
#tooltip1:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip2 {
    text-decoration:none;
    position:relative;
}
#tooltip2 span {
    display:none;
}
#tooltip2:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip3 {
    text-decoration:none;
    position:relative;
}
#tooltip3 span {
    display:none;
}
#tooltip3:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip4 {
    text-decoration:none;
    position:relative;
}
#tooltip4 span {
    display:none;
}
#tooltip4:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip5 {
    text-decoration:none;
    position:relative;
}
#tooltip5 span {
    display:none;
}
#tooltip5:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip6 {
    text-decoration:none;
    position:relative;
}
#tooltip6 span {
    display:none;
}
#tooltip6:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip7 {
    text-decoration:none;
    position:relative;
}
#tooltip7 span {
    display:none;
}
#tooltip7:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip8 {
    text-decoration:none;
    position:relative;
}
#tooltip8 span {
    display:none;
}
#tooltip8:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip9 {
    text-decoration:none;
    position:relative;
}
#tooltip9 span {
    display:none;
}
#tooltip9:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip10 {
    text-decoration:none;
    position:relative;
}
#tooltip10 span {
    display:none;
}
#tooltip10:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip11 {
    text-decoration:none;
    position:relative;
}
#tooltip11 span {
    display:none;
}
#tooltip11:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip12 {
    text-decoration:none;
    position:relative;
}
#tooltip12 span {
    display:none;
}
#tooltip12:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip13 {
    text-decoration:none;
    position:relative;
}
#tooltip13 span {
    display:none;
}
#tooltip13:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip14 {
    text-decoration:none;
    position:relative;
}
#tooltip14 span {
    display:none;
}
#tooltip14:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip15 {
    text-decoration:none;
    position:relative;
}
#tooltip15 span {
    display:none;
}
#tooltip15:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip16 {
    text-decoration:none;
    position:relative;
}
#tooltip16 span {
    display:none;
}
#tooltip16:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip17 {
    text-decoration:none;
    position:relative;
}
#tooltip17 span {
    display:none;
}
#tooltip17:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip18 {
    text-decoration:none;
    position:relative;
}
#tooltip18 span {
    display:none;
}
#tooltip18:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip19 {
    text-decoration:none;
    position:relative;
}
#tooltip19 span {
    display:none;
}
#tooltip19:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip20 {
    text-decoration:none;
    position:relative;
}
#tooltip20 span {
    display:none;
}
#tooltip20:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip21 {
    text-decoration:none;
    position:relative;
}
#tooltip21 span {
    display:none;
}
#tooltip21:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip22 {
    text-decoration:none;
    position:relative;
}
#tooltip22 span {
    display:none;
}
#tooltip22:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip23 {
    text-decoration:none;
    position:relative;
}
#tooltip23 span {
    display:none;
}
#tooltip23:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip24 {
    text-decoration:none;
    position:relative;
}
#tooltip24 span {
    display:none;
}
#tooltip24:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip25 {
    text-decoration:none;
    position:relative;
}
#tooltip25 span {
    display:none;
}
#tooltip25:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip26 {
    text-decoration:none;
    position:relative;
}
#tooltip26 span {
    display:none;
}
#tooltip26:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip27 {
    text-decoration:none;
    position:relative;
}
#tooltip27 span {
    display:none;
}
#tooltip27:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip28 {
    text-decoration:none;
    position:relative;
}
#tooltip28 span {
    display:none;
}
#tooltip28:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip29 {
    text-decoration:none;
    position:relative;
}
#tooltip29 span {
    display:none;
}
#tooltip29:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip30 {
    text-decoration:none;
    position:relative;
}
#tooltip30 span {
    display:none;
}
#tooltip30:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip31 {
    text-decoration:none;
    position:relative;
}
#tooltip31 span {
    display:none;
}
#tooltip31:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip32 {
    text-decoration:none;
    position:relative;
}
#tooltip32 span {
    display:none;
}
#tooltip32:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}
#tooltip33 span {
    display:none;
}
#tooltip33:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
      z-index:1000;
}


.margin-btm {
    margin-bottom: 80px;
}

#chopsticks {
    width: 100px;
    height: 100px;
      -webkit-transform: rotate(180deg);
    -moz-transform: rotate(1800deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 35px;
}
#woodenplate {
    width: 120px;
    height: 100px;
    margin-top: 35px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(25px);
    transform: translateY(25px);
  }
  60% {
    -moz-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  60% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

h4, h5 { cursor: default; }

#text {
    width: 50%;
}

#headertext3 {
    margin-top: 30px;
}

#chop {
        width: 100px;
  margin-top: 40px;
  margin-bottom: -50px;
      -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
     
}
#logotipik {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
  
  
    
    z-index: 1005;
    
}
#your_element{
    position:absolute;
    left: calc(50% + 200px);
}

#loader {
    display: block;
    position: relative;
    left: 0;
    top: 70%;
    width: 100px;
    height: 100px;
      margin: 0 auto;
    text-align: center;
   
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1005;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: white;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }



   

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }


    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
    }
    .loaded #logotipik {
             opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }

.horizontal-images { 
    width: 500px;
}
.sejtan {
    width: 300px;
}

.vertical-images { 
    width: 250px;
}